.aside {
  flex: 1;
  position: sticky;
  top: -10px;
  padding: 10px;
  border-radius: 7px;
  background-color: #fafafa;
  height: 100%;
  display: none;
  @media (min-width: 768px) {
    display: block;
    margin-left: 0.875rem;
  }
}

.aside__container {
  h3 {
    color: #456268;
    font-weight: 500;
  }
  .search {
    position: relative;
    input {
      width: 100%;
      height: 2.75rem;
      padding: 0.5rem;
      border: 2px solid #becfdf;
      border-radius: 5px;
      background-color: transparent;
      font-family: 'Rubik';
      font-size: 0.875rem;
      font-weight: 400;
      @media (min-width: 900px) {
        font-size: 1rem;
      }
      &:focus {
        outline: none;
        background-color: #fff;
        border-color: #a2d5f2;
      }
    }
  }

  .vault {
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    overflow-y: scroll;
  }
}
