.aside {
    padding: 10px;
    border-radius: 10px;
    background-color: #fafafa;
    height: 100%;
    display: none;
    flex: 1;
    position: sticky;
    top: -20px;
    @media (min-width: 768px) {
        display: block;
        margin-left: 0.875rem;
    }
}

.aside__container {
    .search {
        position: relative;
        input {
            width: 100%;
            height: 2.75rem;
            padding: 0.5rem;
            border: 2px solid #becfdf;
            border-radius: 5px;
            background-color: transparent;
            font-family: 'Lato';
            font-size: 0.875rem;
            font-weight: 400;
            @media (min-width: 900px){
                font-size: 1rem;
            }
            &:focus {
                outline: none;
                background-color: #fff;
                border-color: #a2d5f2;
            }
        }

    }
}

