.pokemon {
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    background-color: #fafafa;
    transition: all 0.3s;
    .pokemon__img {
        border-radius: inherit;
        background-color: #ddf3f5;
    }
    h4 {
        margin: 10px 0 0;
        text-align: center;
        font-weight: 700;
        color: #456268;
    }
    &:hover {
        transform: translateY(-8px);
    }
}