.pokemon {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fafafa;
    transition: all 0.3s;
    .pokemon__img {
        border-radius: inherit;
        img {
            width: 200px;
            height: auto;
            border-radius: inherit;
            cursor: pointer;
        }
    }
    h4 {
        margin: 10px 0 0;
        text-align: center;
        font-weight: 500;
    }
    &:hover {
        transform: translateY(-12px);
    }
}