.pokemon__container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.pokemon__detail {
    flex-basis: 100%;
    background-color: white;   
    padding: 10px;
    border-radius: 7px;
    display: grid;
    @media (min-width: 768px) {
        flex-basis: 65%;
        grid-template-columns: minmax(220px, 40%) 1fr;
        gap: 0.75rem;
    }
}

.pokemon__image {
    width: 100%;
    border-radius: 7px;
    background-color: #ddf3f5;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        font-weight: 500;
        background-color: #393b44;
        color: white;
        border-radius: 5px;
        padding: 0.5rem;
        margin: 0;
    }

    button {
        font-family: 'Rubik';
        border-radius: 5px;
        cursor: pointer;
        border: none;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        margin: 10px;
        transition: all 0.3s ease;
        
        &:hover {
            background-color: #393b44;
            color: #ffffff;
        }
        &.add:hover {
            background-color: #056674;
        }
        &.delete:hover {
            background-color: #ff4b5c;
        }
        &:focus {
            outline: none;
        }
    }
}