.scroll {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 80vh;
  overflow-y: auto;
  background: #d6e0f0;
  padding: 1rem;
  padding-bottom: 0;
  @media (min-width: 1024px) {
    padding: 20px 40px;
    padding-bottom: 0;
  }
}
// .scroll::-webkit-scrollbar {
//     height: 10px;
//     width: 10px;
// }
// .scroll::-webkit-scrollbar-thumb {
//     border-radius: 10px;
//     background-color: #d6e0f0;
// }
// .scroll::-webkit-scrollbar-track {
//     background-color: #d6e0f0;
// }
