.scroll {
    display: flex;
    height: 80vh;
    overflow-y: auto;
    background: #d6e0f0;
    padding: 1rem;
    padding-bottom: 0;
    @media (min-width: 1024px) {
        padding: 20px 40px;
        padding-bottom: 0;
    }
}
.scroll::-webkit-scrollbar {
    display: none;
}