* {
    box-sizing: border-box;
}
html {
    background-color: #d6e0f0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 90%;
    background-color: #fafafa;
    border-radius: 5px;
    overflow: auto;
    padding: 0 1rem;
    &::-webkit-scrollbar {
        display: none;
    }
    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        align-items: center;
    }
}

.page {
    flex: 1;
    padding: 1rem;
    cursor: pointer;
}

.link {
    color: #00343d;
    font-weight: 700;
    padding: 0.5rem;
    display: block;
    border-radius: 5px;
    text-align: center;
    &:hover {
        background-color: #0bd8a2;
    }
    &:focus {
        outline: none;
    }
}

.active {
    background-color: #dafff3;
}