* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}